* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


:root{
  --color-primary: #ffb347;
  --color-secondary: #e35d5b;
}

$bp-largest: 75em;   //1200 px / 16px
$bp-large: 68.75em;  //1100 px / 16px
$bp-medium: 56.25em; //900 px / 16px
$bp-small: 37.5em;  //600 px / 16px
$bp-smallest: 31.25em; // 500px / 16px

html {
  box-sizing: border-box;
  font-size: 62.5%; /*  1rem = 10px, how? 10px/16px = 62.5%, being 16px the browser default size */

  @media only screen and(max-width: $bp-large) {
    font-size: 50%;
  }
}


body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-family: 'Ubuntu', sans-serif;
  background-image: linear-gradient(to right , var(--color-primary), var(--color-secondary));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 5rem;
}

.title {
  padding: 3rem 0;
  text-align: center;
  letter-spacing: .2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // max-width: 150rem;

  @media only screen and (max-width: $bp-medium){
    flex-direction: column;
  }
  
  &__form {
    flex: 0 0 30%;
    color: #000000;
    padding: 20px;
  }

  &__appointment {
    flex: 1;
    padding: 20px;
  }

  &__input {
    flex: 0 0 40%;
  }
}


input[type="date"],
input[type="time"] {
  // height: 68px;
    padding: 6px 10px;
    // background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}
.lista-citas .media {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3rem;
}

.lista-citas .media:last-of-type{
  border-bottom: 0;
}
.lista-citas .media-body p {
  margin:0;
}
.lista-citas .media-body button {
  margin-top: 1rem!important;
}
.lista-citas .media-body span {
  font-weight: bold;
}

// label {
//   color: white;
// }

.appointment {
  padding: 3rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.appointment p {
  font-weight: bold;
  margin-bottom: .8rem;
}
.appointment p span {
  font-weight: normal;

}
.appointment:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.appointment:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.button.delete,
.button.delete:hover {
  background-color: #c10059;
  color: white;
  margin-top: 2rem;
}

.error-alert {
  background-color: white;
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family:  'Staatliches', cursive;
} 